.custom-color {
    color:#F4A900!important
}

.custom-background-color {
    background-color:#F4A900!important;
}

.custom-contrast-color {
    color:#3a3a3a!important;
}

.custom-background-contrast-color {
    background-color:#3a3a3a!important;
}

.custom-contrast-color-AAA {
    color:#000000!important;
}

.custom-background-contrast-color-AAA {
    background-color:#000000!important;
}

.custom-hover-background-color:hover {
    background-color:#F4A900!important;
    color:#3a3a3a;
}

.custom-hover-background-color-AAA:hover {
    background-color:#F4A900!important;
    color:#000000;
}

.custom-hover-color-AAA:hover {
    color:#F4A900!important;
    background-color:#000000!important;
}

.custom-color-shadow {
    -moz-box-shadow: 1px 1px 3px 2px #f4a900;
    box-shadow:1px 1px 3px 2px #f4a900;
    -webkit-box-shadow: 1px 1px 3px 2px #f4a900;
}

.flex-container {
    display: flex;
    padding: 20px;
}

.flex-inner-container {
    display: flex;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-basis: 33%;
    order: 1;
    padding: 10px 20px;
}

.flex-inner-item {
    order: 1;
}

.flex-column-item {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.custom-registration-div {
    padding-left: 16px;
}

.custom-button {
    border-radius:12px;
}

.custom-link:link { color: #0000EE; }
.custom-link:visited { color: #551A8B; }