.custom-color {
    color:#F4A900!important
}

.custom-color-text-with-background {
    color:#F4A900!important;
    background-color:#3a3a3a!important;
}

.hover-custom-color-background:hover {
    color:#212121!important;
    background-color:#F4A900!important;
}

.custom-color-background {
    color:#3a3a3a!important;
    background-color:#F4A900!important;
}

.custom-color-background-AAA {
    color:#212121!important;
    background-color:#F4A900!important;
}

.hover-custom-color-text-AAA:hover {
    color:#F4A900!important;
}

.custom-contrast-color {
    color:#004BF4!important;
}

.custom-color-shadow {
    -moz-box-shadow: 1px 1px 3px 2px #f4a900;
    box-shadow:1px 1px 3px 2px #f4a900;
    -webkit-box-shadow: 1px 1px 3px 2px #f4a900;
}


.flex-container {
    display: flex;
    padding: 20px;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-basis: 33%;
    order: 1;
    padding: 10px 20px;
}

.flex-column-item {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}